///// colours
$black: #333;
$white: #FFF;
// $black: #FFF;
// $white: #333;
$mid-grey: #A9A9A9;
$bright-grey: #EAEAEA;

///// layout
$site-max-width: 960px;
$v-gutter: 5px;
$h-gutter: 5px;

///// typography
$brand-font-fam: 'Roboto', Helvetica, sans-serif;
$mono-font-fam: 'Roboto Mono', monospace;
$body-font-fam: Georgia, Times, "Times New Roman", serif;
$body-font-size: 16px;
