/* This file is for your main application css. */
@import "variables";
@import "layout";

html, body {
  background: $really-black;
  font-family: $mono-font-fam;
  font-size: $body-font-size;
}

html {
  height: 100%;
}

body {
  align-items: center;
}

.wrapper {
  max-width: $site-max-width;
  justify-content: stretch;
  margin: 0 auto;
}

.markdown-editor {
  flex: 1 1 auto;
  padding: $v-gutter $h-gutter;
  background: $black;
  color: $white;
  font-size: 1em;
  min-height: 16em;
}

.markdown-editor:focus {
  outline: none !important;
  border-color: $bright-grey;
}

.editor-controls {
  flex-direction: row;
  flex: 0 0 auto;
}

.markdown-asset-upload {
  flex: 1;
  padding: $v-gutter $h-gutter;
  overflow: hidden;
  position: relative;
  color: $white;
  border: 1px solid $mid-grey;
}

.markdown-asset-upload:hover {
  border-color: $bright-grey;
}

.markdown-asset-upload [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;

}
